platformName='android'
platformVersion='11.0'
deviceName='Google Pixel 4'
app='bs://82d48347eed0c90d9729f9eb0a898cf91960112d'
remote_url='http://hub.browserstack.com/wd/hub'
browserstack.userName='ivan_ivanovich_XrV4gW'
browserstack.accessKey='Zn59D4zceLWLz7h6nKhr'
projectName='Gismeteo Mobile Application'
buildName='browserstack-build-DEMO-AZ'
sessionName='Gismeteo Mobile Tests'